<div data-ng-controller="HomeController as ul" layout="row">
    <md-sidenav md-is-locked-open="$mdMedia('gt-sm')" md-component-id="left"
    class="md-whiteframe-z2" style="padding-top: 20px">
        <md-list>
            <md-list-item ng-repeat="menuItem in ul.menuItems">

                <md-button data-ng-href="{{menuItem.url}}" ng-click="ul.currentPage = menuItem; ul.toggleList()" 
                    ng-class="{'selected' : menuItem.name == ul.currentPage.name }">
                    {{menuItem.name}}
                </md-button>
            </md-list-item>
        </md-list>
    </md-sidenav>

    <section data-ng-controller="ShoppingsController" data-ng-init="find()" flex>
        <div class="page-header">
            <h1>Shoppings</h1>
        </div>
        <div class="list-group">
            <a data-ng-repeat="shopping in shoppings" data-ng-href="/#!/shoppings/{{shopping._id}}" class="list-group-item">
                <small class="list-group-item-text">
                    Posted on
                    <span data-ng-bind="shopping.created | date:'medium'"></span>
                    by
                    <span data-ng-bind="shopping.user.displayName"></span>
                </small>
                <h4 class="list-group-item-heading" data-ng-bind="shopping.name"></h4>
                <img ng-src="{{shopping.image}}"</img>
            </a>
        </div>
        <div class="alert alert-warning text-center" data-ng-hide="!shoppings.$resolved || shoppings.length">
            No Shoppings yet, why don't you <a href="/#!/shoppings/create">create one</a>?
        </div>
    </section>

</div>

