<div data-ng-controller="HomeController as ul" layout="row">
    <md-sidenav md-is-locked-open="$mdMedia('gt-sm')" md-component-id="left"
    class="md-whiteframe-z2" style="padding-top: 20px">
        <md-list>
            <md-list-item ng-repeat="menuItem in ul.menuItems">

                <md-button data-ng-href="{{menuItem.url}}" ng-click="ul.currentPage = menuItem; ul.toggleList()" 
                    ng-class="{'selected' : menuItem.name == ul.currentPage.name }">
                    {{menuItem.name}}
                </md-button>
            </md-list-item>
        </md-list>
    </md-sidenav>

    <section data-ng-controller="ShoppingsController" data-ng-init="find()" class="team" flex>
	        
	   <div class="page-header">
            <h1>Shoppings</h1>
        </div>
		<div class="container-fluid">  
		<div class="row">
				<div class="col-md-6" data-ng-repeat="shopping in shoppings" >
<!-- 					<div class="team-item">	           
	            		<img  ng-src="{{shopping.image}}">
	            		<h3 style="text-align: center" data-ng-bind="shopping.name"></h3>
						<a type = "button" class = "btn btn-primary btn-lg pull-right" data-ng-href="#!/shoppings/{{shopping._id}}">Add to cart</a>
	            
					</div> -->
	            <md-card flex-offset="5" flex="80">
	            	<md-card-content>
	            		<img flex-offset="5" ng-src="{{shopping.image}}" style="width: 90%;">
	            		<h3 style="text-align: center" data-ng-bind="shopping.name"></h3>
						<a type = "button" class = "btn btn-primary btn-lg pull-right" data-ng-href="#!/shoppings/{{shopping._id}}">View Details</a>
	            	</md-card-content>
	            </md-card>
				</div>
		</div>
		</div>
    </section>
	
<!-- <div class="card-deck-wrapper" data-ng-controller="ShoppingsController" data-ng-init="find()">
  <div class="card-deck">
  <a data-ng-repeat="shopping in shoppings" data-ng-href="/#!/shoppings/{{shopping._id}}">
    <div class="card">
      <img class="card-img-top" ng-src="{{shopping.image}}">
      <div class="card-block">
        <h4 class="card-title" data-ng-bind="shopping.name"></h4>
      </div>
    </div>
	</a>

  </div>
</div>	 -->

</div>

