
<!-- <script src="//maps.google.com/maps/api/js"></script> -->
<script src="http://maps.googleapis.com/maps/api/js?sensor=false&language=en"></script>
<div data-ng-controller="HomeController as ul" layout = "row">
    <md-sidenav md-is-locked-open="$mdMedia('gt-sm')" md-component-id="left"
    class="md-whiteframe-z2" style="padding-top: 20px">
        <md-list>
            <md-list-item ng-repeat="menuItem in ul.menuItems">

                <md-button data-ng-href="{{menuItem.url}}" ng-click="ul.currentPage = menuItem; ul.toggleList()" 
                    ng-class="{'selected' : menuItem.name == ul.currentPage.name }">
                    {{menuItem.name}}
                </md-button>
            </md-list-item>
        </md-list>
    </md-sidenav>

    <section data-ng-controller="BooksController" data-ng-init="find()" flex>
    <h1 style="padding-top: 20px">Book</h1>
        <div layout="row" style="padding-top: 20px">
            <md-card flex>
                <md-card-content>
                    <map zoom="17" center="1.30013,103.78088" on-click="placeMarker()">
                    </map>
                </md-card-content>
            </md-card>
        </div>

        <form class="form-horizontal" data-ng-submit="create()" novalidate>
            <fieldset>
                <md-card flex style="padding: 10px 0px 20px 20px;">

                    <div layout="row">
                        <md-input-container flex="65">
                            <label flex="70">Current location</label>
                            <input type="text" data-ng-model="current_location" flex="100" style="margin-bottom: -30px"
                            ng-blur = "showLocation(current_location)">
                        </md-input-container>
                        <md-button class="md-raised md-primary" flex="30" style="height:50px;" data-ng-href="#!/books/TaxiType">
                            <span style="">Taxi Type</span>
                        </md-button>
                    </div>
                        
                        

                    <div layout="row">
                        <md-input-container flex="65">
                            <label flex="70">Destination</label>
                            <input id = "des" type="text" data-ng-model="destination" flex="100" style="margin-bottom: -30px"
                            ng-blur = "showLocation(destination)">
                        </md-input-container>
                        <md-button class="md-raised md-primary" flex="30" style="height:50px;">
                            <span style="">Driver Details</span>
                        </md-button>
                    </div>

                </md-card>
                <div layout="row" width="100%" style="padding-top: 20px">
                    <div flex="25"></div>
                    <md-button flex="20" class="md-raised" data-ng-href="#!/">Back</md-button>
                    <div flex="10"></div>
                    <md-button flex="20"class="md-accent md-raised md-hue-1" type="submit">Confirm</md-button>
                </div>
            </fieldset> 
        </form>
        
    </section>
</div>
